.newsletter{
    /* background-color: rgb(0, 0, 0); */

    >h2{
        text-transform: uppercase;
        margin: 10px 0;
        font-size: 40px;
        color: greenyellow;
        margin-top: 100px;
    }
}

.nws{
    height: auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background:linear-gradient(rgba(0, 0, 0, 0.664),rgba(0, 0, 0, 0.708)),url('../Images/arnold 1.jpg');
    /* background:url('../Images/arnold 1.jpg'); */
    background-position: left;
    background-repeat: no-repeat;
    padding-top: 60px;
    background-color: rgb(0, 0, 0);
    padding-right: 40px;
}
.newsdesc{
   
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-bottom: 20px;
}
.forms{
    background-color: transparent;
    margin-bottom: 200px;
    
}

.inpnews{
    
    padding: 15px;
    background: transparent;
    border: 2px solid rgb(108, 106, 106);
    color: white;
    border-right: none;
    outline: none;

}
.btnsub{
    /* background-color: red; */
    /* padding: 5px; */
    display: flex;
    >input{
        width: 80%;
    }
}
.btnnews{
    background-color: rgb(31, 223, 31);
    color: rgb(0, 0, 0);
    padding: 15px;
    border: 2px solid rgb(99, 98, 98);
  
   
}
.newsletter::before{
    position: absolute;
    content: '';
    top: -1px;
    left: 0;
    width: 100%;
    height: 100px;
    background: rgb(27, 29, 27);
    clip-path: polygon(100% 0,100% 100%,0 0);
}

.newsletter::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: rgb(27, 29, 27);
    clip-path: polygon(0 0,0 100%,100% 100%);
  
   
}
/* watermark */

.newslogo{
    position: absolute;
    font-size: 100px;
    color: rgb(255, 255, 255);
    opacity: .2;
    top: 68%;
    left: 3%;
    /* background-color: red; */
    /* width: 400px; */
    /* transform:translate(-50%,-50%); */
    >.titlegreen{
        color: rgb(27, 225, 27);
    }
}
.way{
    font-size: 80px;
}

