.choice{
    background-color: rgb(27, 29, 27);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 40px;

}
.titlechc{
    text-align: center;
    color: greenyellow;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 30px;

    
}

.chctitle2{
    color: yellowgreen;
    color: white;
    text-align: center;
    font-size: 40px;
    margin-bottom: 80px;
    >span{
        color: rgb(27, 225, 27);
    }
}

.facilities{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;

    >.moderneqp{
        /* background-color: rgb(19, 19, 19); */
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 280px;
        color: white;
        

        >span{
            background-color: rgb(38, 41, 38);
            font-size: 50px;
            padding: 15px;
            border-radius: 50%;
            margin-bottom: 20px;
            color: rgb(27, 225, 27);
        }

        
    }
    >.moderneqp:hover{
        >span{
            background-color: rgb(27, 225, 27);
            color: rgb(0, 0, 0);
        }
    }
  
    
}

.facdesc{
    color: gray;
    font-size: 13px;
    margin: 10px 0;
    text-align: center;
}